name: chart-servicebus pipeline
trigger:
  branches:
    include:
    - refs/tags/*
pr:
  branches:
    include:
    - master
resources:
  repositories:
  - repository: cnp-library
    type: github
    name: hmcts/cnp-azuredevops-libraries
    endpoint: 'hmcts'

jobs:
- job: Validate
  pool:
    vmImage: 'Ubuntu 18.04'
  steps:
  - template: steps/charts/validate.yaml@cnp-library
    parameters :
      chartName: servicebus
      chartReleaseName: chart-servicebus-ci
      chartNamespace: chart-tests
      helmDeleteWait: "360"
      helmInstallWait: "360"

- job: Release
  # Make sure we have a tag to run this job
  condition: >
    and(
        succeeded(),
        startsWith(variables['Build.SourceBranch'], 'refs/tags/')
      )
  dependsOn: Validate
  pool:
    vmImage: 'Ubuntu 18.04'
  steps:
  - template: steps/charts/release.yaml@cnp-library
    parameters:
      chartName: servicebus
      chartReleaseName: chart-servicebus
      chartNamespace: chart-tests
