resourceGroup: chart-tests-aso-preview-rg
sbNamespace: chart-tests-servicebus
tags:
  teamName: ""
  applicationName: ""
  builtFrom: ""
  businessArea: ""
  environment: ""
location: uksouth
serviceplan: standard
setup:
  queues:
   - name: chartqueue3
   - name: chartqueue4
  topics:
   - name: charttopic1
     subscriptionNeeded: yes
     rules:
       - name: "testrule"
         filterType: CorrelationFilter
         correlationFilter :
           - name: "hmctsServiceId"
             value: "AAAA"
           - name: "deploymentId"
             value: "1234"
       - name: "anotherrule"
         filterType: CorrelationFilter
         correlationFilter:
           - name: "testFilter"
             value: "testValue"
       - name: "sqltestrule"
         filterType: SqlFilter
         sqlFilter:
           sqlExpression: "hmctsServiceId = 'BBBB' AND deploymentId IN ('5678', '9012')"
   - name: charttopic2
     subscriptionNeeded: yes

global:
  tags:
    teamName: "Software Engineering"
    applicationName: "core"
    builtFrom: "https://github.com/hmcts/chart-servicebus"
    businessArea: "CFT"
    environment: "development"
